#reportContainer {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}
#reportContainer #reportHead {
  position: relative;
  float: left;
  width: 100%;
  height: 3em;
  background: #52c67e;
  text-shadow: 0px 2px 2px #333;
  color: #fff;
}
#reportContainer #reportHead span {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  line-height: 3;
  text-align: center;
}
#reportContainer #reportDetail {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 3em);
}
#reportContainer #reportDetail #chartContainer {
  position: relative;
  float: left;
  height: 100%;
}
#reportContainer #reportDetail #chartContainer .chart {
  position: relative;
  float: left;
  width: calc(100% - 10px);
  margin: 10px 5px;
  -moz-box-shadow: 0px 2px 3px #555;
  -webkit-box-shadow: 0px 2px 3px #555;
  box-shadow: 0px 2px 3px #555;
  background-image: -webkit-linear-gradient(0deg, #f1f6fa 25%, transparent 25%, transparent 50%, #f1f6fa 50%, #f1f6fa 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(0deg, #f1f6fa 25%, transparent 25%, transparent 50%, #f1f6fa 50%, #f1f6fa 75%, transparent 75%, transparent);
  background-image: linear-gradient(0deg, #f1f6fa 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 50%, #f1f6fa 50%, #f1f6fa 75%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0));
}
#reportContainer #reportDetail #chartContainer .chart.lineChart {
  height: 300px;
}
#reportContainer #reportDetail #chartContainer .chart.barChart {
  height: 300px;
}
#reportContainer #reportDetail #chartContainer .chart span {
  position: relative;
  float: left;
  width: 100%;
  height: 3em;
  line-height: 3;
  text-align: center;
}
#reportContainer #reportDetail #chartContainer .chart canvas {
  position: relative;
  float: left;
  width: 100%;
  height: calc(100% - 3em);
}
#reportContainer #reportDetail #summaryContainer {
  position: relative;
  float: left;
  height: 100%;
}
#reportContainer #reportDetail #summaryContainer .summary {
  position: relative;
  float: left;
  margin: 10px 5px;
  width: calc(100% - 10px);
  border: 1px dashed;
  padding: 10px;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhYmE2YiIgc3RvcC1vcGFjaXR5PSIwLjciLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4YWJhNmIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(138, 186, 107, 0.7)), color-stop(100%, #8aba6b));
  background: -moz-linear-gradient(top, rgba(138, 186, 107, 0.7), #8aba6b);
  background: -webkit-linear-gradient(top, rgba(138, 186, 107, 0.7), #8aba6b);
  background: linear-gradient(to bottom, rgba(138, 186, 107, 0.7), #8aba6b);
}
#reportContainer #reportDetail #summaryContainer .summary .summaryHead {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 1em;
  color: #fff;
  font-weight: 900;
  text-shadow: 0px 2px 2px #333;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryHead:after {
  width: 100%;
  height: 0px;
  content: '';
  border-top: 1px solid #CACDC0;
  border-bottom: 1px solid #FFF;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryHead:after {
  position: relative;
  float: left;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryHead span {
  position: relative;
  float: left;
  width: 100%;
  line-height: 3;
  text-align: center;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryContent {
  position: relative;
  float: left;
  width: 100%;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryContent .summaryItem {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 10px;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryContent .summaryItem .control-label {
  line-height: 1;
}
#reportContainer #reportDetail #summaryContainer .summary .summaryContent .summaryItem span {
  position: relative;
  float: left;
  width: 100%;
  line-height: 1;
  text-align: right;
}
