<html>
<head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, minimal-ui">
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" data-main="main" src="javascripts/require/require.min.js"></script>
    <link rel="stylesheet" media="(max-device-width: 768px)" href="stylesheets/device/bootstrap_phone.css"/>
    <link rel="stylesheet" media="(max-device-width: 992px)" href="stylesheets/device/bootstrap_tablet.css"/>
    <link rel="stylesheet" media="(max-device-width: 1200px)" href="stylesheets/device/bootstrap_desktop.css"/>
    <link rel="stylesheet" media="(min-device-width: 1201px)" href="stylesheets/device/bootstrap_wide_desktop.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css"/>
</head>
<body id="rootBody" ng-controller="RootController">
<div id="alertBar">
    <div ng-repeat="alert in alertList"
         class="alertBox fs-x-large fs-x-huge-before icon-index-before g{{alert.category}}"
         ng-class="{'icon-index-success-before':alert.category === 1, 'icon-index-warn-before':alert.category === 2, 'icon-index-fail-before':alert.category === 3}"
         ng-show="$index === 0"
         ng-click="hideAlert(alert.id, $event)">
        <span>{{alert.title}}</span>
    </div>
</div>
<div id="rootBg">
    <div id="rootMain" ng-view>
    </div>
</div>
</body>
</html>
