<link rel="stylesheet" type="text/css" href="stylesheets/project.css"/>

<div id="projectContainer" class="fs-x-medium" ng-controller="ProjectController">
    <div ui-modal-window transition="fadeInScaleUp">
        <div name="mainContent">
            <div class="topbar">
                <div class="topbarButton icon-mobile-book-before icon-mobile-book-dehaze-before"
                     ng-click="once(this, $event, 'toggleSelect', '.sideBarContainer')"></div>
                <div class="projectTitle">
                    <span>{{chatContent.projectName}}</span>
                </div>
            </div>

            <div class="sideBarContainer leftSide overlay slideInOnTop"
                 ng-click="once(this, $event, 'toggleSelect', $event, false)">
                <div class="barContent" ng-click="$event.stopPropagation()">
                    <div class="projectBarContent" name="barContent" ng-click="$event.stopPropagation()">
                        <div class="accordianGroup">
                            <div class="accordianTitle col-as-12">
                                <div class="avatarImg"/>
                                <div class="userName">
                                    {{chatContent.userName}}
                                </div>
                                <div class="expandButton icon-mobile-book-after icon-mobile-book-chevron_right-after"
                                     ui-data="animo('select', 'rotateQuarterArc')"
                                     ng-click="once(this, $event, 'toggleUserAccordian', $event)"></div>
                            </div>
                            <div class="accordianBody" ng-if="isContentSet">
                                <div class="projectButton col-as-12" ng-if="canInvite(chatContent)">
                                    <div class="icon-mobile-book-before icon-mobile-book-local_florist-before"
                                         ng-click="once(this, $event, 'invite')"></div>
                                    <span class="fs-x-small">邀请</span>
                                </div>
                                <div class="projectButton col-as-12"
                                     ng-if="canToggle(chatContent)">
                                    <div class="icon-mobile-book-before" ng-if="canStart(chatContent)"
                                         ng-class="{'icon-mobile-book-play_arrow-before':chatContent.chatState!==1, 'icon-mobile-book-pause-before':chatContent.chatState===1}"
                                         ng-click="once(this, $event, 'startPause')"></div>
                                    <div class="icon-mobile-book-before icon-mobile-book-stop-before"
                                         ng-if="canStop(chatContent)"
                                         ng-click="once(this, $event, 'stopChat')"></div>
                                    <span class="fs-x-small">开始/停止</span>
                                </div>
                            </div>
                            <div class="accordianBody" ng-if="isContentSet && canToggleTopic(chatContent)">
                                <div class="projectButton col-as-12"
                                     ng-if="canToggle(chatContent)">
                                    <div class="icon-mobile-book-before"
                                         ng-class="{'icon-mobile-book-timer-before':chatContent.topicState!==11, 'icon-mobile-book-timer_off-before':chatContent.topicState===11}"
                                         ng-click="once(this, $event, 'startPauseTopic')"></div>
                                    <div class="icon-mobile-book-before icon-mobile-book-stop-before"
                                         ng-click="once(this, $event, 'stopTopic')"></div>
                                    <span class="fs-x-small">讨论</span>
                                </div>
                            </div>
                        </div>
                        <div class="barTabContent">
                            <section class="tabs fs-x-small">
                                <input id="tab-1" type="radio" name="tabRadio" class="tab-selector-1"
                                       checked="checked"/>
                                <label class="tab-label-1">课程内容</label>
                                <input id="tab-2" type="radio" name="tabRadio" class="tab-selector-2"/>
                                <label class="tab-label-2" for="tab-2">课堂讨论</label>

                                <div class="content">
                                    <div class="content-1">
                                        <div class="thumbList">
                                            <div class="thumbItem fx-x-smaller-before" ng-repeat="item in thumbList"
                                                 ng-style="{'background-image':'url({{item}})'}"
                                                 ng-click="once(this, $event, 'displayPage', 0)"/>
                                        </div>
                                    </div>
                                    <div class="content-2">
                                        <div class="chatList fs-x-small">
                                            <div class="chatItem" ng-repeat="chat in chatList"
                                                 ng-click="selectedChat=chat">
                                                <div class="timeChat" ng-if="chat.type === 'timeMark'">
                                                    <div class="chatContent">{{chat.content}}</div>
                                                </div>
                                                <div class="myChat" ng-if="chat.type === 'myTalk'">
                                                    <div class="chatAvatar col-as-2 no-padding"/>
                                                    <div class="chatContent col-as-8 no-padding">{{chat.content}}</div>
                                                    <div class="chatAvatar col-as-2 no-padding">
                                                        <div ng-style="{'background-image':'url(images/friend-avatar.png)'}"></div>
                                                    </div>
                                                </div>
                                                <div class="friendChat" ng-if="chat.type === 'friendTalk'">
                                                    <div class="chatAvatar col-as-2 no-padding">
                                                        <div ng-style="{'background-image':'url(images/friend-avatar.png)'}"></div>
                                                    </div>
                                                    <div class="chatContent col-as-8 no-padding">{{chat.content}}</div>
                                                    <div class="chatAvatar col-as-2 no-padding"/>
                                                </div>
                                                <div class="myChat topicChat" ng-if="chat.type === 'topicTalk'">
                                                    <div class="chatAvatar col-as-2 no-padding">
                                                        <div ng-style="{'background-image':'url(images/friend-avatar.png)'}"></div>
                                                    </div>
                                                    <div class="chatContent col-as-8 no-padding"
                                                         ng-click="once(this, null, 'handleTopic', chat)">
                                                        <span class="fs-x-medium-before icon-mobile-book-before icon-mobile-book-timer-before">{{chat.content}}</span>
                                                    </div>
                                                    <div class="chatAvatar col-as-2 no-padding"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
                <div class="mainContent" ng-click="$event.stopPropagation()">
                    <div class="projectMainContent" name="mainContent">
                    </div>
                </div>
            </div>
        </div>

        <div name="modalContent">
            <div class="chatConfirmPanel fs-x-large" ng-if="modalUsage === 'chatCreation'">
                <div class="confirmContent">
                    <span class="icon-mobile-book-after icon-mobile-book-question-after">确定要创建新的课程吗</span>
                </div>

                <div class="confirmBar fs-x-medium">
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-check-before"
                              ng-click="once(this, $event, 'createChat')">确定</span>
                    </div>
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-close-before"
                              ng-click="once(this, $event, 'hideProjectModal')">取消</span>
                    </div>
                </div>
            </div>
            <div class="chatConfirmPanel fs-x-large" ng-if="modalUsage === 'chatToggle'">
                <div class="confirmContent">
                    <span class="icon-mobile-book-after icon-mobile-book-question-after"
                          ng-if="chatContent.chatState !== 1">确定继续课程吗</span>
                    <span class="icon-mobile-book-after icon-mobile-book-question-after"
                          ng-if="chatContent.chatState === 1">确定暂停课程吗</span>
                </div>

                <div class="confirmBar fs-x-medium">
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-check-before"
                              ng-click="once(this, $event, 'toggleChat')">确定</span>
                    </div>
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-close-before"
                              ng-click="once(this, $event, 'hideProjectModal')">取消</span>
                    </div>
                </div>
            </div>
            <div class="chatConfirmPanel fs-x-large" ng-if="modalUsage === 'topicToggle'">
                <div class="confirmContent">
                    <span class="icon-mobile-book-after icon-mobile-book-question-after"
                          ng-if="chatContent.topicState !== 11">确定继续讨论吗</span>
                    <span class="icon-mobile-book-after icon-mobile-book-question-after"
                          ng-if="chatContent.topicState === 11">确定暂停讨论吗</span>
                </div>

                <div class="confirmBar fs-x-medium">
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-check-before"
                              ng-click="once(this, $event, 'toggleTopic')">确定</span>
                    </div>
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-close-before"
                              ng-click="once(this, $event, 'hideProjectModal')">取消</span>
                    </div>
                </div>
            </div>
            <div class="chatConfirmPanel fs-x-large" ng-if="modalUsage === 'chatStop'">
                <div class="confirmContent">
                    <span class="icon-mobile-book-after icon-mobile-book-question-after">确定结束课程吗</span>
                </div>

                <div class="confirmBar fs-x-medium">
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-check-before"
                              ng-click="once(this, $event, 'closeChat')">确定</span>
                    </div>
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-close-before"
                              ng-click="once(this, $event, 'hideProjectModal')">取消</span>
                    </div>
                </div>
            </div>
            <div class="chatConfirmPanel fs-x-large" ng-if="modalUsage === 'topicStop'">
                <div class="confirmContent">
                    <span class="icon-mobile-book-after icon-mobile-book-question-after">确定结束讨论吗</span>
                </div>

                <div class="confirmBar fs-x-medium">
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-check-before"
                              ng-click="once(this, $event, 'closeTopic')">确定</span>
                    </div>
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-close-before"
                              ng-click="once(this, $event, 'hideProjectModal')">取消</span>
                    </div>
                </div>
            </div>
            <div class="chatConfirmPanel fs-x-large" ng-if="modalUsage === 'resendTopic'">
                <div class="confirmContent">
                    <span class="icon-mobile-book-after icon-mobile-book-question-after">确定重新发送讨论邀请吗</span>
                </div>

                <div class="confirmBar fs-x-medium">
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-check-before"
                              ng-click="once(this, $event, 'inviteTopic', selectedChat && selectedChat.topicId)">确定</span>
                    </div>
                    <div class="confirmButton">
                        <span class="fs-x-large-before icon-mobile-book-before icon-mobile-book-close-before"
                              ng-click="once(this, $event, 'hideProjectModal')">取消</span>
                    </div>
                </div>
            </div>
            <div class="chatInvitationPanel fs-x-medium" ng-if="modalUsage === 'chatInvite'">
                <div class="invitationBar">
                    <div class="toggleSelectionButton icon-mobile-book-before icon-mobile-book-exit-before"
                         ng-click="once(this, $event, 'hideProjectModal')">
                        <span class="fs-x-large">取消</span>
                    </div>
                    <div class="toggleSelectionButton icon-mobile-book-before icon-mobile-book-invitation-before"
                         ng-click="once(this, $event, 'inviteChat', inviteeList)">
                        <span class="fs-x-large">确定</span>
                    </div>
                    <div class="toggleSelectionButton icon-mobile-book-before"
                         ng-class="{'icon-mobile-book-square-before':hasNoSelection(inviteeList), 'icon-mobile-book-square-check-before':hasAllSelection(inviteeList), 'icon-mobile-book-square-check-before partialSelect':hasPartialSelection(inviteeList)}"
                         ng-click="once(this, $event, 'toggleInviteeSelection', inviteeList)">
                        <span class="fs-x-large">选择</span>
                    </div>
                </div>
                <div class="inviteeList">
                    <div class="inviteeItem icon-mobile-book-after icon-mobile-book-local_florist-after"
                         ng-repeat="inviteeItem in inviteeList" ng-attr-id="{{inviteeItem._id}}"
                         ng-click="once(this, $event, 'toggleInviteeItem', inviteeItem)"
                         ng-class="{'selected':inviteeItem.selected}">
                        <div class="inviteePhoto icon-mobile-book-before icon-mobile-book-person_outline-before"></div>
                        <div class="inviteeName"><span>{{inviteeItem.name}}</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>