<div>
    <div class="sideBarContainer" ng-class="[transition, side, overlay]"
         ng-if="transition|in:['slideInOnTop', 'reveal', 'slideAlong', 'reverseSlideOut', 'scaleDownPusher', 'scaleUp', 'scaleRotatePusher', 'openDoor', 'fallDown']">
        <div ui-multi-transclude="barContent" class="barContent" ng-click="$event.stopPropagation()"></div>
        <div ui-multi-transclude="mainContent" class="mainContent"
             ng-click="once(this, $event, 'toggleSideBar', $event, false)"></div>
    </div>
    <div class="sideBarContainer" ng-class="[transition, side, overlay]"
         ng-if="transition|in:['rotatePusher', 'rotateIn3D', 'rotateOut3D', 'delayed3DRotate']">
        <div ui-multi-transclude="mainContent" class="mainContent"
             ng-click="once(this, $event, 'toggleSideBar', $event, false)">
            <div ui-multi-transclude="barContent" class="barContent" ng-click="$event.stopPropagation()"></div>
        </div>
    </div>
</div>