@import "bootstrap/variables";
@import "bootstrap-variables";

$darkColor: #222;
$color: rgba(0, 0, 0, 0.4);
$lightColor: #ecf0f1;
$shadowColor: rgba(0, 0, 0, 0.4);
$darkBackgroundColor: #aaa;
$lightBackgroundColor: rgba(255, 255, 255, 0.7);
$activeColor: #669933;
$touchOpacity: 0.4;
$blue6: #033865;
$blue5: #114975;
$blue4: #1d5b8b;
$blue3: #4f7698;
$blue2: #6699a8;
$blue1: #a6c1ce;