@import "compass/css3";
@import "global";
@import "animation/app_animation";
@import "animation/app_animation_keyframes";

#projectContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    .modalWindowContainer {
        position: relative;
        float: left;
        width: 100%;
        height: 100%;

        > .md-modal {
            height: 50%;
            width: 80%;
        }

        > .modalOverlay {
            background: rgba(0, 0, 0, 0.1);
        }

        .projectMainContent {
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;

            .projectContent {
                height: calc(100% - 4em);
                margin: 0.5em 0;
                overflow: auto;

                .projectItem {
                    position: relative;
                    float: left;
                    width: 360px;
                    margin-right: 1em;
                    margin-bottom: 15px;
                    padding: 15px;
                    box-shadow: 0 15px 10px -10px #6D6D6D, 0 1px 4px #A4A4A4, 0 0 40px #E0E0E0 inset;

                    &[mode='waitDownload'] {
                        .projectItemDownload {
                            pointer-events: auto;
                            visibility: visible;
                        }

                        .projectItemRefresh {
                            pointer-events: none;
                            visibility: hidden;
                        }

                        .projectItemPause {
                            pointer-events: none;
                            visibility: hidden;
                        }
                    }

                    &[mode='waitRefresh'] {
                        .projectItemDownload {
                            pointer-events: none;
                            visibility: hidden;
                        }

                        .projectItemRefresh {
                            pointer-events: auto;
                            visibility: visible;
                        }

                        .projectItemPause {
                            pointer-events: none;
                            visibility: hidden;
                        }
                    }

                    &[mode='inProgress'] {
                        .projectItemProgress {

                            > div canvas {
                                @include animation-iteration-count(infinite);
                                @extend %blinkEffect;
                            }
                        }

                        .projectItemDownload {
                            pointer-events: none;
                            visibility: hidden;
                        }

                        .projectItemRefresh {
                            pointer-events: none;
                            visibility: hidden;
                        }

                        .projectItemPause {
                            pointer-events: auto;
                            visibility: visible;
                        }
                    }

                    .projectItemInfoList {
                        height: 5.5em;
                        margin-bottom: 1em;

                        .projectItemProgress {
                            z-index: 1;
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            pointer-events: none;

                            > div {
                                position: absolute;
                                left: calc(50% - 50px);
                                top: calc(50% - 50px);
                            }
                        }

                        .projectItemInfo {
                            height: 1.5em;
                            width: 100%;

                            &.blur {
                                @include filter(blur(1.5px));
                            }

                            .infoLabel {
                                position: relative;
                                float: left;
                                height: 100%;
                                width: 50%;
                                line-height: 1.5;
                            }

                            .infoContent {
                                position: relative;
                                float: left;
                                height: 100%;
                                width: 50%;

                                span {
                                    position: relative;
                                    float: left;
                                    width: 100%;
                                    height: 100%;
                                    line-height: 1.5;
                                    display: -webkit-box;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    text-align: right;
                                }
                            }
                        }

                        .projectItemDesc {
                            height: 4em;

                            span {
                                position: relative;
                                float: left;
                                width: 100%;
                                height: 100%;
                                text-align: center;
                                display: -webkit-box;
                                -webkit-box-orient: vertical;
                                -webkit-line-clamp: 3;
                                text-overflow: ellipsis;
                                overflow: hidden;
                            }
                        }
                    }

                    .projectItemButton {
                        height: 2em;
                        line-height: 2;
                        background-color: #ddd;
                        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                        border-radius: 0.2em;
                        display: inline-block;
                        margin: 0.5em 0;
                        text-align: center;

                        &:active {
                            background-color: #555;
                            color: $activeColor;
                            box-shadow: none;
                        }
                    }

                    .projectItemCheck {
                        z-index: 1;
                        position: absolute;
                        right: -0.5em;
                        top: -0.5em;
                        width: 2em;
                        height: 2em;

                        &:before {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            line-height: 2;
                            text-align: center;

                            @include transition(all 0.3s);
                        }
                    }

                    .projectItemDownload, .projectItemRefresh, .projectItemPause {
                        z-index: 1;
                        position: absolute;
                        right: -0.5em;
                        bottom: -0.5em;
                        width: 2em;
                        height: 2em;
                        visibility: hidden;
                        pointer-events: none;

                        &:before {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            line-height: 2;
                            text-align: center;
                            border-radius: 100%;
                            background: $semiTransparentColor;
                            box-shadow: 0 0 10px #555;
                        }

                        &:active:before {
                            color: $color;
                            margin-top: 1px;
                            box-shadow: 0 0 5px #555;
                        }
                    }
                }
            }

            .projectActionConfirmBar {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3em;
                opacity: 0;
                background: rgba(0, 0, 0, 0.1);

                @include transform(translateY(100%));

                .projectActionButton {
                    position: relative;
                    float: left;
                    height: 2em;
                    width: 50%;
                    margin: 0.5em 0;

                    span {
                        position: relative;
                        float: left;
                        width: 8em;
                        height: 100%;
                        line-height: 2;
                        left: calc(50% - 4em);
                        display: inline-block;
                        background-color: #ddd;
                        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                        border-radius: 0.2em;
                        text-align: center;

                        &:before {
                            position: absolute;
                            left: 0px;
                            width: 2em;
                            height: 2em;
                            line-height: 2;
                            text-align: center;
                        }

                        &:active {
                            background-color: #555;
                            color: $activeColor;
                            box-shadow: none;
                        }
                    }
                }

                &.select {
                    opacity: 1;
                    @include transform(translateY(0%));
                    @include transition(all 0.3s);
                }
            }
        }

        .projectModalContent {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #669933;

            .projectInfoContainer {
                position: absolute;
                top: 0;
                bottom: 3em;
                width: calc(100% - 1em);
                margin: 0 0.5em;

                .projectInfo {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 1.5em;
                    margin-bottom: 1em;

                    &:first-child {
                        margin-top: 1em;
                    }

                    .infoLabel {
                        position: relative;
                        float: left;
                        height: 100%;
                        width: 33%;
                        line-height: 1.5;
                    }

                    .infoContent {
                        position: relative;
                        float: left;
                        height: 100%;
                        width: 66%;

                        span {
                            position: relative;
                            float: left;
                            width: 100%;
                            height: 100%;
                            line-height: 1.5;
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            -webkit-line-clamp: 1;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            text-align: left;
                        }
                    }
                }
            }

            .projectModalBar {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 3em;

                .projectModalButton {
                    position: relative;
                    float: left;
                    height: 2em;
                    width: 50%;
                    margin: 0.5em 0;

                    span {
                        position: relative;
                        float: left;
                        width: 8em;
                        height: 100%;
                        line-height: 2;
                        left: calc(50% - 4em);
                        display: inline-block;
                        background-color: #ddd;
                        box-shadow: inset 0 -2px 0 rgba(0, 0, 0, .135);
                        border-radius: 0.2em;
                        text-align: center;

                        &:before {
                            position: absolute;
                            left: 0px;
                            width: 2em;
                            height: 2em;
                            line-height: 2;
                            text-align: center;
                        }

                        &:active {
                            background-color: #555;
                            color: $activeColor;
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
}