@import "compass/css3";
@import "bootstrap/mixins/gradients";
@import "global";

#reportContainer {
    position: relative;
    float: left;
    width: 100%;
    height: 100%;

    #reportHead {
        position: relative;
        float: left;
        width: 100%;
        height: 3em;
        background: #52c67e;
        text-shadow: 0px 2px 2px #333;
        color: #fff;

        span {
            position: relative;
            float: left;
            width: 100%;
            height: 100%;
            line-height: 3;
            text-align: center;
        }
    }

    #reportDetail {
        position: relative;
        float: left;
        width: 100%;
        height: calc(100% - 3em);

        #chartContainer {
            position: relative;
            float: left;
            height: 100%;

            .chart {
                position: relative;
                float: left;
                width: calc(100% - 10px);
                margin: 10px 5px;

                @include box-shadow(0px 2px 3px #555);
                @include gradient-striped(#f1f6fa, 0deg);

                &.lineChart {
                    height: 300px;
                }

                &.barChart {
                    height: 300px;
                }

                span {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: 3em;
                    line-height: 3;
                    text-align: center;
                }

                canvas {
                    position: relative;
                    float: left;
                    width: 100%;
                    height: calc(100% - 3em);
                }
            }
        }

        #summaryContainer {
            position: relative;
            float: left;
            height: 100%;

            .summary {
                position: relative;
                float: left;
                margin: 10px 5px;
                width: calc(100% - 10px);
                border: 1px dashed;
                padding: 10px;

                @include background(linear-gradient(top, rgba(138, 186, 107, 0.7), rgb(138, 186, 107)));

                .summaryHead {
                    position: relative;
                    float: left;
                    width: 100%;
                    margin-bottom: 1em;
                    color: #fff;
                    font-weight: 900;
                    text-shadow: 0px 2px 2px #333;

                    @include solidSplitLine("after");

                    &:after {
                        position: relative;
                        float: left;
                    }

                    span {
                        position: relative;
                        float: left;
                        width: 100%;
                        line-height: 3;
                        text-align: center;
                    }
                }

                .summaryContent {
                    position: relative;
                    float: left;
                    width: 100%;

                    .summaryItem {
                        position: relative;
                        float: left;
                        width: 100%;
                        margin-bottom: 10px;

                        .control-label {
                            line-height: 1;
                        }

                        span {
                            position: relative;
                            float: left;
                            width: 100%;
                            line-height: 1;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}